@font-face {
    font-family: 'Robot_mono';
    src: url(/Fontes/RobotoMono-VariableFont_wght.ttf) format('woff2');
}
/* Esse da mais trabalho */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Esse é mlr */

h1 {
    background-color: black;
    color: yellow;
    margin: -8px -8px;
}
p {
    font-family: "Robot_mono", sans-serif;
    font-style: italic;
}