*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box    {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}
.container  {
    /* transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; */

    display: flex;
    height: 500px;
    width: 500px;
    background-color: silver;
    border: 1px solid;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-flow: row nowrap;  */
    /* versão abreviada dos dois acima no comentário */
    justify-content: center;
    align-items: center;
}
.box1 {
    background-color: red;
    order: 1;
}
.box2 {
    background-color: green;
    order: 2;
}
.box3 {
    background-color: rgb(38, 136, 255);
    order: 3;
}

.microsoft-logo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 40%;
    border: 2px solid;
    justify-content: s;
  }
  
  .square {
    width: 50%;
    height: 50%;
  }
  
  .blue {
    background-color: #00ADEF;
  }
  
  .green {
    background-color: #7EBE45;
  }
  
  .yellow {
    background-color: #FFB900;
  }
  
  .red {
    background-color: #F25022;
  }
  